.pixel__button {
	position: relative;
	box-shadow: var(--pixel-box-shadow);

	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
	}

	&:active {
		transform: translateY(3px);
	}
}

.pixel-default__button {
	&::after {
		border-right: 4px solid
			color-mix(in hsl, var(--default-inner-border-color) 70%, rgba(0, 0, 0));
		border-bottom: 4px solid
			color-mix(in hsl, var(--default-inner-border-color) 70%, rgba(0, 0, 0));
	}
	&:hover {
		background-color: var(--default-inner-border-color);
	}

	&:active {
		background-color: color-mix(
			in hsl,
			var(--default-inner-border-color) 70%,
			rgb(0, 0, 0)
		);
	}
}

.pixel-secondary__button {
	background-color: var(--color-secondary);
	color: var(--color-secondary-foreground);

	&::after {
		border-right: 4px solid
			color-mix(in hsl, var(--color-secondary) 70%, rgb(0, 0, 0));
		border-bottom: 4px solid
			color-mix(in hsl, var(--color-secondary) 70%, rgb(0, 0, 0));
	}

	&:hover {
		background-color: color-mix(
			in hsl,
			var(--color-secondary) 90%,
			rgb(0, 0, 0)
		);
	}

	&:active {
		background-color: color-mix(
			in hsl,
			var(--color-secondary) 70%,
			rgb(0, 0, 0)
		);
	}
}

.pixel-success__button {
	background-color: var(--success);
	color: var(--success-foreground);

	&::after {
		border-right: 4px solid color-mix(in hsl, var(--success) 70%, rgb(0, 0, 0));
		border-bottom: 4px solid color-mix(in hsl, var(--success) 70%, rgb(0, 0, 0));
	}

	&:hover {
		background-color: color-mix(in hsl, var(--success) 90%, rgb(0, 0, 0));
	}

	&:active {
		background-color: color-mix(in hsl, var(--success) 70%, rgb(0, 0, 0));
	}
}

.pixel-destructive__button {
	background-color: var(--destructive);
	color: var(--destructive-foreground);

	&::after {
		border-right: 4px solid
			color-mix(in hsl, var(--destructive) 70%, rgb(77, 77, 77));
		border-bottom: 4px solid
			color-mix(in hsl, var(--destructive) 70%, rgb(77, 77, 77));
	}

	&:hover {
		background-color: color-mix(
			in hsl,
			var(--destructive) 90%,
			rgb(77, 77, 77)
		);
	}

	&:active {
		background-color: color-mix(
			in hsl,
			var(--destructive) 70%,
			rgb(77, 77, 77)
		);
	}
}

.pixel-warning__button {
	background-color: var(--warning);
	color: var(--warning-foreground);

	&::after {
		border-right: 4px solid
			color-mix(in hsl, var(--warning) 70%, rgb(32, 32, 32));
		border-bottom: 4px solid
			color-mix(in hsl, var(--warning) 70%, rgb(32, 32, 32));
	}

	&:hover {
		background-color: color-mix(in hsl, var(--warning) 90%, rgb(32, 32, 32));
	}

	&:active {
		background-color: color-mix(in hsl, var(--warning) 70%, rgb(32, 32, 32));
	}
}

.pixel-link__button {
	box-shadow: none;
	color: var(--link);
	margin: 0;
	padding: 0;

	&:hover {
		background-color: transparent;
		color: color-mix(in hsl, var(--link) 70%, rgb(0, 0, 0));
	}

	&:active {
		color: color-mix(in hsl, var(--link) 90%, rgb(0, 0, 0));
	}

	&:visited {
		color: color-mix(in hsl, var(--link) 70%, rgb(0, 0, 0));
	}
}
